.body-container{
width: 30vw;
height: 75vh;
background-color: white;
border-radius: 5px;
}


@media screen and (max-width: 1100px) {
    .body-container{
        width: 50vw;
        }
}

@media screen and (max-width: 600px) {
    .body-container{
        width: 85vw;
        }
}