.pokemon-image-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image{
    width: 35%;
    height: 45%;
}
@media (max-width: 600px) {
    .pokemon-image{
        width: 45%;
        height: 35%;
    }
}