.pokemon-image-container{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image{
    width: 25%;
    height: 35%;
}
@media (max-width: 600px) {
    .pokemon-image{
        width: 50%;
        height: 35%;
    }
}