.description-container{
    height: 20%;
    width: 100%;
    display: flex;
}
.pokemon-description{
    text-align: center;    
}

@media screen and (max-width: 600px) {
    .description-container{
        height: 30%;
    }
}