.App{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(85,76,241);
  background: linear-gradient(50deg, rgba(85,76,241,1) 0%, rgba(58,58,201,1) 28%, rgba(30,61,204,1) 49%, rgba(5,98,180,1) 73%, rgba(0,212,255,1) 100%);
}

